section
  position: absolute
  width: 50%
  color: $white-ter
  transition: all 1s
  background-color: rgba(0,0,0,0.75)
  padding: 60px 100px
  border-radius: 10px
  box-shadow: 0 10px 10px 0 black
  top: 50%
  transform: translateY(-50%) rotate(5DEG)
  opacity: 1
  &.hidden
    top: 100%
    opacity: 0
    animation-name: section-switch
    animation-duration: 1.5s
  a:hover
    color: white
  .section-content
    transform: rotate(-5DEG)


@keyframes section-switch
  from
    transform: translateY(-50%) rotate(5DEG)
    opacity: 1
  20%
    transform: translateY(25px) rotate(5DEG)
    opacity: 1
  to
    transform: translateY(-350px) scale(0.8) rotate(5DEG)
    opacity: 0
